/*!
 * Bavanco (http://www.bavanco.co.uk)
 * Copyright 2002-2016 Bavanco.
 * Main App
 */
body {
  padding-top: 101px; }

.green-felt {
  background: #005800;
  background: -webkit-linear-gradient(top, #42a042 0%, #005800 100%);
  background: linear-gradient(to bottom, #42a042 0%, #005800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a042', endColorstr='#005800',GradientType=0 ); }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 71px;
  padding: 15px 0;
  background: #263489;
  border-bottom: 4px solid #000000;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

header {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  word-spacing: 4px;
  text-transform: uppercase; }

header h1 {
  font-weight: 700;
  font-size: 42px;
  margin: 0; }

header .slogan {
  font-weight: 400;
  font-size: 14px; }

@media (min-width: 768px) {
  body {
    padding-top: 151px; }
  header {
    height: 111px;
    padding: 20px 0; }
  header h1 {
    font-size: 72px; }
  header .slogan {
    font-size: 25px; } }

header.sticky {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  padding-left: 20px;
  height: 25px;
  text-align: left; }

header.sticky h1 {
  font-size: 25px;
  float: left; }

header.sticky .slogan {
  display: none; }

footer {
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  word-spacing: 2px;
  padding: 50px 0 15px;
  padding-left: 20px; }

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 25px; }

a.item {
  margin: 14px 7px 0 7px;
  display: block;
  color: #000000;
  text-decoration: none; }

#about-page.container {
  max-width: 600px; }

#about-page a.card-link {
  margin-top: 14px;
  display: block;
  color: #000000;
  text-decoration: none; }

#about-page figure {
  margin-top: 14px; }

#about-page figure img {
  border: 6px solid #205a20;
  padding: 6px; }

#about-page figure figcaption {
  background-color: #ffffff;
  border: 6px solid #205a20;
  font-style: italic;
  padding: 6px;
  text-align: center; }

/*!
 * Bavanco (http://www.bavanco.co.uk)
 * Copyright 2002-2016 Bavanco.
 * Title Deeds
 */
/* 
 * Common to all Deeds
 */
.deed {
  background-color: #f1eddc;
  background-image: url("/images/card.png");
  border-radius: 10.2px;
  box-shadow: 0 6.8px 4.08px -4.08px #032903;
  padding: 23.8px 14.96px;
  height: 289px;
  width: 217.6px;
  -webkit-transition: box-shadow 0s; }

.deed:hover {
  cursor: pointer;
  box-shadow: 0 6.8px 4.08px -4.08px #032903, 0 2.72px 5.44px 0 rgba(0, 0, 0, 0.9); }

.deed .deed-inner {
  border: 1.36px solid #000000;
  padding: 5.44px 4.08px;
  height: 275.4px; }

/* 
 * Property Deed
 */
.deed-property .deed-header {
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 6.8px 0 10.2px; }

.deed-property .deed-header .deed-subtitle {
  font-weight: 600;
  font-size: 10.88px;
  letter-spacing: -0.34px;
  word-spacing: 2.72px;
  margin-bottom: 2.04px; }

.deed-property .deed-header h2.deed-title {
  font-weight: 800;
  font-size: 17.68px;
  letter-spacing: -0.34px;
  word-spacing: 6.8px;
  margin: 0; }

.deed-property .deed-header.deed-group1,
.deed-property .deed-header.deed-group8 {
  color: #ffffff;
  padding: 4.76px 0 4.76px; }

.deed-property .deed-header.deed-group1 .deed-subtitle,
.deed-property .deed-header.deed-group8 .deed-subtitle {
  font-weight: 400;
  font-size: 14.96px;
  margin-bottom: 0; }

.deed-property .deed-header.deed-group1 h2.deed-title,
.deed-property .deed-header.deed-group8 h2.deed-title {
  font-weight: 500;
  font-size: 21.76px; }

.deed-property .deed-body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 1.5;
  letter-spacing: 0.17px;
  word-spacing: 2.04px;
  padding: 1.36px 5.44px; }

.deed-property .deed-body small {
  font-weight: 600;
  font-size: 7.48px;
  line-height: 1.5;
  word-spacing: 2.72px;
  display: inline-block; }

/* 
 * Station & Utility Deed
 */
.deed-station .deed-header,
.deed-utility .deed-header {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 10.2px 0 27.2px; }

.deed-station .deed-header h2.deed-title,
.deed-utility .deed-header h2.deed-title {
  font-weight: 700;
  font-size: 15.64px;
  letter-spacing: 0.34px;
  word-spacing: 1.36px;
  margin: 0 0 10.2px; }

.deed-station .deed-header .deed-subtitle {
  font-weight: 700;
  font-size: 10.2px;
  letter-spacing: 0.34px;
  word-spacing: 1.36px; }

.deed-station .deed-body,
.deed-utility .deed-body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12.92px;
  line-height: 1.5;
  letter-spacing: 0.34px;
  word-spacing: 2.72px;
  padding: 1.36px 5.44px; }

/* 
 * Mortgaged Deed
 */
.deed-mortgaged .deed-inner {
  border: 0;
  color: #d21625;
  font-family: 'Work Sans', sans-serif;
  text-align: center; }

.deed-mortgaged .deed-header {
  margin-top: 30.6px;
  text-transform: uppercase; }

.deed-mortgaged .deed-header .deed-subtitle {
  font-weight: 800;
  font-size: 28.56px;
  word-spacing: 2.72px;
  margin-top: 17px; }

.deed-mortgaged .deed-header h2.deed-title {
  border-top: 2.04px solid #d21625;
  border-bottom: 2.04px solid #d21625;
  font-weight: 800;
  font-size: 16.32px;
  word-spacing: 2.72px;
  margin: 40.8px 0 6.8px;
  padding: 5.44px 0;
  display: inline-block; }

.deed-mortgaged .deed-body .deed-info {
  font-weight: 500;
  font-size: 14.96px;
  word-spacing: 3.4px;
  margin: 10.2px 0 34px; }

.deed-mortgaged .deed-body .deed-details {
  font-weight: 700;
  font-size: 10.88px;
  line-height: 1.5;
  padding: 0 20.4px; }

/* 
 * Card
 */
.card {
  background-color: #ffffff;
  border-radius: 10.2px;
  box-shadow: 0 6.8px 4.08px -4.08px #032903;
  height: 180.2px;
  width: 306px;
  -webkit-transition: box-shadow 0s; }

.card:hover {
  cursor: pointer;
  box-shadow: 0 6.8px 4.08px -4.08px #032903, 0 2.72px 5.44px 0 rgba(0, 0, 0, 0.9); }

.card.community-chest {
  background-color: #f5ebad; }

.card.chance {
  background-color: #f26166; }

.card .card-inner {
  padding: 5.44px 4.08px;
  height: 169.32px;
  font-family: 'Raleway', sans-serif; }

.card-header {
  padding-top: 30.6px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase; }

.card-header h2.card-title {
  font-weight: 900;
  font-size: 12.24px;
  word-spacing: 2.72px; }

.card-body {
  font-weight: 600;
  font-size: 10.88px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 4.08px;
  margin-top: 34px; }

/* 
 * Utilities
 */
.deed-group1 {
  background-color: #712321; }

.deed-group2 {
  background-color: #3671be; }

.deed-group3 {
  background-color: #b92768; }

.deed-group4 {
  background-color: #e1562a; }

.deed-group5 {
  background-color: #da1e25; }

.deed-group6 {
  background-color: #f5ea28; }

.deed-group7 {
  background-color: #337024; }

.deed-group8 {
  background-color: #263489; }

.deed-property .deed-header.long-title h2.deed-title,
.deed-station .deed-header.long-title h2.deed-title {
  word-spacing: 0; }

.indent {
  text-indent: 16.32px;
  text-align: justify; }

.ditto-mark {
  color: transparent;
  position: relative; }

.ditto-mark:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  content: ",,";
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 12.24px;
  letter-spacing: 0.68px; }

.spacer {
  color: transparent; }

.right-align {
  float: right; }

.right-align:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=app.css.map */
